* henri.parquet@pingflow.fr louis.bruge@pingflow.fr herve.wolffer@pingflow.fr alexandre.jolimont@pingflow.fr
/.deploy/ alexandre.jolimont@pingflow.fr louis.bruge@pingflow.fr
/.git-crypt/ alexandre.jolimont@pingflow.fr
CODEOWNERS alexandre.jolimont@pingflow.fr
LICENSE alexandre.jolimont@pingflow.fr
